<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Response\Http">
        <plugin name="non_logged_in_cache_enable"
                type="Triplewood\CacheOptimizer\Plugin\ResponsePlugin"
                sortOrder="10" />
    </type>
    <type name="Triplewood\CacheOptimizer\Plugin\ResponsePlugin">
        <arguments>
            <argument name="whitelistedUrls" xsi:type="array">
                <item name="catalog" xsi:type="array">
                    <item name="moduleAction" xsi:type="string">view</item>
                    <item name="enabled" xsi:type="boolean">true</item>
                </item>
                <item name="cms" xsi:type="array">
                    <item name="moduleAction" xsi:type="string">view</item>
                    <item name="enabled" xsi:type="boolean">true</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
